.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-top: 2vh;
}

.tab {
  background-color: #de9f27;
  color: rgb(0, 0, 0);
  font-weight: bold;
  height: 6vh;
  width: 10vw;
  font-size: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* align-items: center; */
  /* text-align: center; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
}

.tab.active {
  background-color: #2F2921;
  color: #fff;
}

.tab-coordinadores {
  margin-left: 10px;
}

.tab-nominas {
  margin-left: auto;
  margin-right: 10px;
}

