@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap");

*{
  box-sizing: border-box;
}
html{
  background-color: #e5e5e5;
}

body {
  padding: 10px;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 100%;
  /* overflow-x: hidden; */
}
.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.linea{
  width:20%;
  height:5px;
  background-color: #de9f27;
}
h1{
  margin: 25px 5px 5px 5px;
}

/* Table */
.table-data {
  padding: 1rem;
  border-collapse: collapse;
  border-radius: 15px;
  width: 120vw;
  table-layout: fixed;
}

.table-data th,
.table-data td {
  padding: 10px 5px;
}

.table-data th {
  background-color: #342F2F;
  color: white;
}
.table-data th:first-child{
  border-radius: 10px 0 0 0;
}
.table-data th:last-child{
  border-radius: 0 10px 0 0;
}

.table-data tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table-data tr{
  background-color:#dedede;
}

.table-data tr:hover {
  background-color: #cfcfcf;
}
.table-data tr:nth-child(even):hover {
  background-color: #e2e2e2;
}

.table-data td {
  text-align: center;
  font-size: 13px;
  /* font-weight: bold; */
}

.form-field {
  width: 75px;
  padding: 5px;
  margin: 0 5px;
  border-radius: 3px;
}

.porcent {
  width: 40px;
}

.new-row {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 25px;
  text-align: center;
  margin: 25px;
}
.add{
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  border: 1px solid #000;
}
.add:hover{
  background-color: #de9f27;
  border-color: #de9f27;
  cursor: pointer;
}
.new-row:hover {
  background-color: #de9f27;
  color: #000;
  font-weight: bold;
  border: none;
  border: 1px solid #de9f27;
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
}
