@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap");

html{
  box-sizing: border-box;
  background-color: #e5e5e5;
}

body {
  padding: 10px;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 100%;
  overflow-x: auto;
}
.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.linea{
  width:20%;
  height:5px;
  background-color: #de9f27;
}
h1{
  margin: 5px;
}

/* Table */
.table-data {
  padding: 1rem;
  border-collapse: collapse;
  border-radius: 15px;
  width: 120vw;
  table-layout: fixed;
}

.table-data th,
.table-data td {
  padding: 10px 5px;
}

.table-data th {
  background-color: #342F2F;
  color: white;
}
.table-data th:first-child{
  border-radius: 10px 0 0 0;
}
.table-data th:last-child{
  border-radius: 0 10px 0 0;
}

.table-data tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table-data tr{
  background-color:#E1DBDB;
}

.table-data tr:hover {
  background-color: #b6b3b3;
}

.table-data td {
  text-align: center;
  font-size: 13px;
  /* font-weight: bold; */
}

.form-field {
  width: 75px;
  padding: 5px;
  margin: 0 5px;
  border-radius: 3px;
}

.porcent {
  width: 40px;
}
